name: release
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  release:
    name: Create draft release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - run: |
          gh auth status -t
